<mat-card>
  <h2>{{ title }}</h2>
  <button mat-raised-button color="primary" (click)="openCreateDialog()">Crear usuario</button>
  <div class="main-table">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z2 width-100">

      <!-- ID -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let user">{{ user.id }}</td>
      </ng-container>

      <!-- Nombre -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre Completo</th>
        <td mat-cell *matCellDef="let user">{{ user.name }}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Correo</th>
        <td mat-cell *matCellDef="let user">{{ user.email }}</td>
      </ng-container>

      <ng-container matColumnDef="password">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Contraseña</th>
        <td mat-cell *matCellDef="let user">{{ '*'.repeat(10)}}</td>
      </ng-container>

      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre de Usuario</th>
        <td mat-cell *matCellDef="let user">{{ user.username }}</td>
      </ng-container>
      <!-- Completado -->
      <ng-container matColumnDef="isComplete">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Completado</th>
        <td mat-cell *matCellDef="let user">
          <mat-icon color="primary">{{ user.isComplete ? 'check_circle' : 'cancel' }}</mat-icon>
        </td>
      </ng-container>

      <!-- Acciones -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let user">
          <button mat-icon-button color="primary" (click)="update(user)" title="Editar">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="delete(user)" title="Eliminar">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
  </div>
</mat-card>